/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&family=MuseoModerno:ital,wght@0,100..900;1,100..900&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: inline-block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  max-width: 100%;
  min-width: 320px;
  margin: 0 auto;
  overflow-x: clip;
}

body .index-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 0px auto;
  padding: 0px 30px;
  max-width: 1200px;
}
body .index-header .index-header-img img {
  width: 80px;
  height: auto;
  padding: 20px 0px;
}
body .index-header .index-header-button {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 150px;
}
body .index-header .index-header-button .login {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #202125;
}
body .index-header .index-header-button .signup {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #ebf7fd;
  color: #009de0;
  width: 90px;
  height: 46px;
  border-radius: 10px;
}
body .index-header .index-header-button p {
  margin-bottom: 0;
}
body .index-section-1 {
  width: 100%;
  background-color: #f5efc6;
}
body .index-section-1 .div2 {
  overflow-x: clip;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  min-width: 1200px;
  height: 640px;
  margin: 0px auto;
  background-color: #f5efc6;
}
body .index-section-1 .div2 .section-1-text {
  padding: 0 30px;
}
body .index-section-1 .div2 .section-1-text .index-h1 {
  width: 420px;
}
body .index-section-1 .div2 .section-1-text .index-h1 h1 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
  color: #202125;
}
body .index-section-1 .div2 .section-1-text .text-box {
  padding: 20px 0px;
}
body .index-section-1 .div2 .section-1-text .btn:link,
body .index-section-1 .div2 .section-1-text .btn:visited {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: 20px;
  line-height: normal;
  text-transform: uppercase;
  text-decoration: none;
  padding: 15px 30px;
  display: inline-block;
  border-radius: 100px;
  transition: all 0.2s;
  position: absolute;
}
body .index-section-1 .div2 .section-1-text .btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
body .index-section-1 .div2 .section-1-text .btn:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
body .index-section-1 .div2 .section-1-text .btn-white {
  background-color: #9bc070;
  color: #202125;
}
body .index-section-1 .div2 .section-1-text .btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}
body .index-section-1 .div2 .section-1-text .btn-white::after {
  background-color: #9bc070;
}
body .index-section-1 .div2 .section-1-text .btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
body .index-section-1 .div2 .section-1-text .btn-animated {
  animation: moveInBottom 5s ease-out;
  animation-fill-mode: backwards;
}
@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body .index-section-1 .div2 .index-background-image {
  width: 725px;
}
body .index-section-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 150px 0px 100px 0px;
}
body .index-section-2 .did-u-know {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 660px;
  text-align: center;
}
body .index-section-2 .did-u-know h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: normal;
  padding: 45px 0px;
  color: #202125;
}
body .index-section-2 .did-u-know p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
}
body .index-section-3 {
  background-color: #f2f3f5;
  width: 100%;
  height: auto;
  margin-bottom: 500px;
  padding-left: 30px;
}
body .index-section-3 .index-section-3-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: auto;
  max-width: 1200px;
}
body .index-section-3 .index-section-3-div .left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
body .index-section-3 .index-section-3-div .left .text-div h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 55px;
  color: #202125;
  width: 450px;
}
body .index-section-3 .index-section-3-div .left .text-div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  width: 500px;
  color: #707174;
  margin: 30px 0px;
}
body .index-section-3 .index-section-3-div .left .button-div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}
body .index-section-3 .index-section-3-div .left .button-div .mac {
  width: 200px;
}
body .index-section-3 .index-section-3-div .left .button-div .app-store {
  display: none;
}
body .index-section-3 .index-section-3-div .left .button-div .play-store {
  width: 200px;
}
body .index-section-3 .index-section-3-div .right img {
  width: 1080px;
}
body .index-section-4 {
  margin: 200px 0px;
  width: 100%;
}
body .index-section-4 .index-section-4-div .index-section-4-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
body .index-section-4 .index-section-4-div .index-section-4-text h2 {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 900;
  font-size: 40px;
  line-height: 55px;
  color: #202125;
}
body .index-section-4 .index-section-4-div .index-apply-div {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
body .index-section-4 .index-section-4-div .index-apply-div div {
  text-align: center;
  margin: 50px 0px;
}
body .index-section-4 .index-section-4-div .index-apply-div div h4 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  color: #202125;
  padding: 20px 0px 10px 0px;
}
body .index-section-4 .index-section-4-div .index-apply-div div a {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #009de0;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  overflow: hidden;
  padding-bottom: 4px;
  position: relative;
  text-decoration: none;
  margin: auto auto 10px;
}
body .index-section-4 .index-section-4-div .index-apply-div div a:after {
  border-bottom: 1px solid;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  transition: transform 0.4s cubic-bezier(0.01, 0.21, 0.35, 1);
  width: 100%;
  transform: translateZ(0);
  background-color: #009de0;
}
body .index-footer {
  width: 100%;
  height: 450px;
  background-color: #141414;
}
body .index-footer .index-footer-div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  flex-wrap: wrap;
}
body .index-footer .index-footer-div .top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
body .index-footer .index-footer-div .top div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}
body .index-footer .index-footer-div .top div h3 {
  font-family: "Roboto";
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #a7a7a7;
  margin-bottom: 10px;
}
body .index-footer .index-footer-div .top div p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  margin: 5px 0px;
}
body .index-footer .index-footer-div .top .footer-div-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}
body .index-footer .index-footer-div .top .footer-div-1 .wolt {
  width: 100px;
  color: white;
}
body .index-footer .index-footer-div .top .footer-div-1 .appstore {
  width: 130px;
  margin-top: 25px;
}
body .index-footer .index-footer-div .top .footer-div-1 .playstore {
  width: 150px;
  margin-left: -10px;
}
body .index-footer .index-footer-div .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-end;
  flex-wrap: wrap;
}
body .index-footer .index-footer-div .bottom div a {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
}
body .index-footer .index-footer-div .bottom .bottom-left {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 275px;
}
body .index-footer .index-footer-div .bottom .bottom-center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 480px;
}
body .index-footer .index-footer-div .bottom .bottom-right p {
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #aaaaa1;
}/*# sourceMappingURL=styles.css.map */