body {
  @extend %my-container;

  .index-header {
    @include goFlex(row, space-between, center);
    margin: 0px auto;
    padding: 0px 30px;
    max-width: 1200px;
    
    .index-header-img {
      img {
        width: 80px;
        height: auto;
        padding: 20px 0px;
      }
    }

    .index-header-button {
      @include goFlex(row, space-between, center);
      width: 150px;
      
      .login {
        @include robotoFont(500, 14px, 20px);
        color: #202125;
      }

      .signup {
        @include robotoFont(500, 16px, 20px);
        @include goFlex(row, center, center);
        background-color: #ebf7fd;
        color: #009de0;
        width: 90px;
        height: 46px;
        border-radius: 10px;
      }

      p {
        margin-bottom: 0;
      }
    }
  }

  .index-section-1 {
    width: 100%;
    background-color: #f5efc6;
    
    .div2 {
      overflow-x: clip;
      @include goFlex(row, center, center, $wrap: nowrap);
      min-width: 1200px;
      height: 640px;
      margin: 0px auto;
      background-color: #f5efc6;

      .section-1-text {
        padding: 0 30px;

        .index-h1 {
          width: 420px;

          h1 {
            @include roundFont(900, 60px, 60px);
            color: #202125;
          }
        }
        
        .text-box {
          padding: 20px 0px;
        }

        .btn:link,
        .btn:visited {
          @include roundFont(900, 20px);
            text-transform: uppercase;
            text-decoration: none;
            padding: 15px 30px;
            display: inline-block;
            border-radius: 100px;
            transition: all .2s;
            position: absolute;
        }
        
        .btn:hover {
            transform: translateY(-3px);
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
        }
        
        .btn:active {
            transform: translateY(-1px);
            box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
        }
        
        .btn-white {
            background-color: #9bc070;
            color: #202125;
        }
        
        .btn::after {
            content: "";
            display: inline-block;
            height: 100%;
            width: 100%;
            border-radius: 100px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            transition: all .4s;
        }
        
        .btn-white::after {
            background-color: #9bc070;
        }
        
        .btn:hover::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
        
        .btn-animated {
            animation: moveInBottom 5s ease-out;
            animation-fill-mode: backwards;
        }
        
        @keyframes moveInBottom {
            0% {
                opacity: 0;
                transform: translateY(30px);
            }
        
            100% {
                opacity: 1;
                transform: translateY(0px);
            }
        }
      }

    .index-background-image {
      width: 725px;
      }  
    }
  }

  .index-section-2 {
    @include goFlex(column, center, center);
    padding: 150px 0px 100px 0px;

    .did-u-know {
      @include goFlex(column, center, center);
      width: 660px;
      text-align: center;
  
      h2 {
        @include roundFont(900, 46px);
        padding: 45px 0px;
        color: #202125; 
      }
  
      p {
        @include robotoFont(400, 26px, 30px);
      }
    }
  }

  .index-section-3 {
    background-color: #f2f3f5;
    width: 100%;
    height: auto;
    margin-bottom: 500px;
    padding-left: 30px;

    .index-section-3-div {
      @include goFlex(row, flex-start, center, $wrap: nowrap);
      margin: auto;
      max-width: 1200px;

      .left {
        @include goFlex(column, flex-start, flex-start);

        .text-div {

          h2 {
            @include roundFont(900, 46px, 55px);
            color: #202125; 
            width: 450px;

          }

          p {
            @include robotoFont(400, 16px, 30px);
            width: 500px;
            color: #707174;
            margin: 30px 0px
          }
        }

        .button-div {
          @include goFlex(row, flex-start, center, $wrap: nowrap);


          .mac {
            width: 200px;
          }

          .app-store {
            display: none;
          }

          .play-store {
            width: 200px;
          }
        }
      }

      .right {

        img {
          width: 1080px;
        }
      }
    }
  }

  .index-section-4 {
    margin: 200px 0px;
    width: 100%;

    .index-section-4-div {

      .index-section-4-text {
        @include goFlex(column, center, center);
        margin-bottom: 50px;

        h2 {
          @include roundFont(900, 40px, 55px);
          color: #202125;
        }
      }

      .index-apply-div {
        @include goFlex(row, space-evenly, center);

        // .courier {
        //   text-align: center;
         
        //   h4 {
        //     @include robotoFont(600, 20px);
        //     color: #202125;
        //     padding: 20px 0px 10px 0px;
        //   }  
        
          
          
        // }

        // .serve {
        //   text-align: center;
         
        //   h4 {
        //     @include robotoFont(600, 20px);
        //     color: #202125;
        //     padding: 20px 0px 10px 0px;
        //   }  
        
          
          
        // }

        div {
          text-align: center;
          margin: 50px 0px;
         
          h4 {
            @include robotoFont(600, 20px);
            color: #202125;
            padding: 20px 0px 10px 0px;
          }
          
          a {
            @include robotoFont(500, 14px);
            color: #009de0;

            display: inline-block;
            font-size: 14px;
            font-weight: 500;
            overflow: hidden;
            padding-bottom: 4px;
            position: relative;
            text-decoration: none;
            margin: auto auto 10px;
          }

          a:after {
            border-bottom: 1px solid;
            bottom: 0;
            content: "";
            left: 0;
            position: absolute;
            transition: transform .4s cubic-bezier(.01,.21,.35,1);
            width: 100%;
            transform: translateZ(0);
            background-color: #009de0;
          }
        }
      }
    }
  }

  .index-footer {
    width: 100%;
    height: 450px;
    background-color: #141414;


    .index-footer-div {
      @include goFlex(column);

      .top {
        @include goFlex (row, space-between, flex-start);

        div {
          @include goFlex (column, flex-start, flex-start);

          h3 {
            @include robotoFont(600, 18px);
            color: #a7a7a7;
            margin-bottom: 10px
          }

          p {
            @include robotoFont(400, 15px);
            color: #ffffff;
            margin: 5px 0px;
          }
        }

        .footer-div-1 {
          @include goFlex (column, space-between, flex-start);


          .wolt {
            width: 100px;
            color: white;
          }

          .appstore {
            width: 130px;
            margin-top: 25px;
          }

          .playstore {
            width: 150px;
            margin-left: -10px;
          }
        }
      }

      .bottom {
        @include goFlex(row, space-evenly, flex-end);

        div { 

          a {
            @include robotoFont(400, 14px);
            color: #ffffff;
          }

        }

        .bottom-left {
          @include goFlex(row, space-evenly, center);
          width: 275px;
        }

        .bottom-center {
          @include goFlex(row, space-evenly, center);
          width: 480px;
        }

        .bottom-right {
          p {
            @include robotoFont(400, 14px);
            color: #aaaaa1;
          }
        }

      }
    }

  }
}


